:root {
  --primary-color: #e3f6f5;
  --secondary-color: #79c2d0;
  --hovered-color: white;
  --title-font: "Playfair Display", serif;
  --description-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: var(--title-font);
  font-size: 80px;
}

h2 {
  font-family: var(--description-font);
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-family: var(--description-font);
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  opacity: 0.7;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--hovered-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-sizing: var(--box-shadow);
}

.btn-branding:hover {
  cursor: pointer;
  background: var(--hovered-color);
  color: var(--secondary-color);
}

h4 {
  font-family: var(--title-font);
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.description {
  font-family: var(--description-font);
  font-size: 24px;
  line-height: 1.5;
}

.project-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: block;
  text-align: center;
  margin: 0 20px;
}

footer {
  margin: 40px;
  font-size: 18px;
  font-family: var(--description-font);
  text-align: center;
}
