:root {
  --primary-color: #e3f6f5;
  --secondary-color: #79c2d0;
  --hovered-color: white;
  --title-font: "Playfair Display", serif;
  --description-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--description-font);
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-family: var(--title-font);
  font-size: 80px;
}

h3 {
  font-family: var(--description-font);
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--hovered-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  cursor: pointer;
  background: var(--hovered-color);
  color: var(--secondary-color);
}
