:root {
  --primary-color: #e3f6f5;
  --secondary-color: #79c2d0;
  --hovered-color: white;
  --title-font: "Playfair Display", serif;
  --description-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: var(--title-font);
  font-size: 80px;
}

h2 {
  font-family: var(--description-font);
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-family: var(--description-font);
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  opacity: 0.7;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--hovered-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-sizing: var(--box-shadow);
}

.btn-branding:hover {
  cursor: pointer;
  background: var(--hovered-color);
  color: var(--secondary-color);
}

h4 {
  font-family: var(--title-font);
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
}

p {
  font-family: var(--description-font);
  font-size: 22px;
}

.btn-branding-outline {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--secondary-color);
  display: block;
}

.description {
  padding: 80px 40px;
}

.footer {
  padding: 50px;
  font-size: 18px;
  font-family: var(--description-font);
  text-align: center;
}

.section {
  font-family: var(--description-font);
  font-size: 25px;
}

.about-section h1 {
  font-size: 70px;
}

.about-section h2 {
  font-size: 24px;
}

.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.content-container {
  padding: 120px 60px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 60px;
  padding: 30px;
}

.content h4 {
  font-family: var(--description-font);
  font-size: 30px;
}

.content p {
  padding-bottom: 40px;
  font-size: 18px;
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--secondary-color);
}

nav li.active a {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }

  .hero {
    padding: 80px 20px;
  }

  .description {
    text-align: center;
    padding: 10px 10px;
  }

  .footer {
    font-size: 12px;
  }

  .section {
    font-size: 15px;
  }

  .about-section h1 {
    font-size: 45px;
  }

  .about-section h2 {
    font-size: 20px;
  }

  .about-section {
    text-align: center;
    padding-top: 50px;
  }

  .about-section .btn-branding {
    margin-bottom: 40px;
  }

  .content-container {
    text-align: center;
    padding: 10px 0 0 0;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h4 {
    font-size: 24px;
  }
}
